<div class="subcolumns">

  <div class="c50l">
    <div class="subcr">
Your Trash - recover yourself!
    </div>
  </div>

  <div class="c50l">
    <div class="subcl right">
    </div>
  </div>

</div>


<div class="subcolumns">
  <div class="c50l">
    <div id="people" class="subcr">
      <%= render :partial => 'list' %>
    </div>
  </div>

  <div class="c50r">
    <div id="person" class="subcr">
      <div id="right_content"></div>
    </div>
  </div>
</div>
