<h1>Rechtliche Hinweise</h1>
<p>Anbei finden Sie rechtliche Hinweise zu folgenden Themen:
<ul>
	<li><a href="/legal/copyright">Urheberrechtshinweise</a></li>
	<li><a href="/legal/privacy">Datenschutzerklärung</a></li>
	<li><a href="/legal/terms">Nutzungsbedingungen (AGB)</a></li>
</ul>
</p>
