<%= render :partial => 'header' %>

<h2>Impressum</h2>
<p>
Diese Seite wird herausgegeben und betrieben von Audress (V.i.S.d.P.), erreichbar mittels:
<pre>
	Audress
	Einestr. 1
	53111 Bonn
	Telefon: +49 228 110
	
</pre>
</p>
<p>Elektronische Kontaktaufnahme: <a href="mailto:admin@b4mad.net">admin@b4mad.net</a>. Sollten Sie mit uns 
	per E-Mail in Kontakt treten wollen, weisen wir darauf hin, dass der Inhalt unverschlüsselter E-Mails von Dritten 
	eingesehen werden kann. Wir empfehlen daher, vertrauliche Informationen verschlüsselt zuzusenden.</p>
