<%= render :partial => 'header' %>

<div id="legal-copyright">

<h2 class="legal-sub">Datenschutzerklärung</h2>

<h3>Gegenstand</h3>
<p>Gegenstand dieser Erklärung ist die Erhebung, Verarbeitung und Nutzung ("Verwendung") personenbezogener Daten ("Daten"),
	die wir, Audress, erheben, wenn Sie unsere Angebote unter der URL ... ("Dienst") nutzen.</p>

<h3>Verantwortliche Stelle, Kontaktadresse </h3>
<p>Verantwortliche Stelle im Sinne des Datenschutzrechts ist die ... GmbH.</p> 

<h3>Keine Einwilligung durch Nutzung </h3>
<p>Maßgeblich für die Verwendung Ihrer Daten sind die jeweils geltenden gesetzlichen Bestimmungen, insbesondere das 
	Bundesdatenschutzgesetz und das Telemediengesetz. Soweit wir Daten für einen Zweck nutzen, der nach diesen Bestimmungen 
	Ihre Einwilligung erfordert, werden wir Sie jeweils um Ihre ausdrückliche Einwilligung bitten. Sie können die einmal 
	gegebene Einwilligung jederzeit mit Wirkung für die Zukunft widerrufen und/oder künftigen Verwendungen Ihrer Daten 
	widersprechen. Die bloße Registrierung, Nutzung der Dienste oder Kenntnisnahme von dieser Erklärung ersetzt Ihre 
	ausdrückliche Einwilligungserklärung nicht. </p>

<h3>Verwendung Ihrer Daten </h3>
<p>Im Folgenden werden die Möglichkeiten der Verwendung Ihrer Daten kurz skizziert. Bitte beachten Sie, dass nicht 
	alle Daten tatsächlich für alle Zwecke verwendet werden. </p> 

<h3>Erheben von Daten </h3>
<p>Wir erhebt Daten, wenn Sie ein Audress-Nutzerkonto ("Account") einrichten oder wenn Sie Dienste besuchen oder nutzen: </p>
<ul> 
<li>Wenn Sie ein Account einrichten, bitten wir Sie um bestimmte Angaben zu Ihrer Person. Von diesen sind nur diejenigen 
	Angaben als Pflichtangaben vorgesehen, die wir für das Vertragsverhältnis bzw. die Durchführung der Dienste benötigen. </li>
<li>Wenn Sie unseren Dienst besuchen oder nutzen, erhebt und speichern wir automatisch in den Server-Logs technische 
	Informationen, die Ihr Browser uns übermittelt. Dabei handelt es sich insbesondere um die IP-Adresse Ihres Computers 
	sowie Daten, die wir auf sogenannten Cookies (vgl. Abschnitt "Cookies") abgelegt haben. </li>
</ul>

<h3>Verarbeitung und Nutzung von Daten </h3>
<p>Wir verwendet die erhobenen Daten für zwei grundlegende Zwecke, wobei nicht alle Daten tatsächlich für alle Zwecke benutzt werden: </p>
<ul>
<li>Die in Ihrem Account gespeicherten Daten zu Ihrer Person und Adresse (Bestandsdaten) verwendet wir zur Begründung und 
	Verwaltung des Nutzungsverhältnisses. </li>
<li>Die Daten zu Ihrer Nutzung des Dienstes (Nutzungsdaten) verwenden wir zur technischen Abwicklung und ggf. Abrechnung 
	dieser Dienstnutzung. Dabei kann es vorkommen, dass zu Abrechnungszwecken Nutzungsdaten verschiedener Dienst zusammengeführt
	werden. </li>
</ul>

<h3>Datenübermittlung an Dritte </h3>
<p>Wir übermitteln Ihre persönlichen Daten nicht an Dritte.</p>

<h3>Speicherung und Verarbeitung von Daten außerhalb des Europäischen Wirtschaftsraumes</h3>
<p>Wir weisen darauf hin, dass Ihre Daten im Rahmen der Nutzung unserer Dienste auch außerhalb des Europäischen
Wirtschaftsraumes gespeichert und verarbeitet werden.</p>

<h3>Veröffentlichungen in öffentlichen Bereichen unserer Angebote</h3>
<p>Öffentliche Bereiche unserer Angebote sind solche, die der Öffentlichkeit zugänglich sind und von Suchmaschinen 
	indexiert werden können.</p>
<p>Wir veröffentlichen keine personenbezogene Daten in einem öffentlichen Bereich.</p>

<h3>Links zu Webseiten anderer Anbieter</h3>
<p>Unsere Dienste können Links zu Webseiten anderer Anbieter enthalten. Wir weisen darauf hin, dass diese 
	Datenschutzerklärung ausschließlich für unsere Dienste gilt. Wir haben keinen Einfluss darauf und kontrollieren 
	nicht, dass andere Anbieter die geltenden Datenschutzbestimmungen einhalten.</p>

<h3>Cookies </h3>
<p>Cookies sind Dateien, die auf der Festplatte Ihres Computers abgelegt werden und der Erleichterung der Navigation 
	dienen. Sie vermeiden, dass bei jeder Nutzung alle erforderlichen Daten neu eingegeben werden müssen. Cookies 
	erleichtern die Nutzung unserer Dienste. Sie können das Speichern von Cookies auf Ihrer Festplatte verhindern, 
	indem Sie in Ihren Browser-Einstellungen "keine Cookies akzeptieren" wählen. Sie können Ihren Browser auch so 
	einstellen, dass dieser Sie vor dem Setzen von Cookies fragt, ob Sie einverstanden sind. Schließlich können Sie 
	auch einmal gesetzte Cookies jederzeit wieder löschen. Wie all das im Einzelnen funktioniert, entnehmen Sie bitte 
	der Anleitung Ihres Browser-Herstellers. Wenn Sie keine Cookies akzeptieren, kann dies im Einzelfall zu 
	Funktionseinschränkungen führen. </p>
<p>Soweit Sie Cookies akzeptieren, legn wir Daten innerhalb der Cookies auf Ihrer Festplatte ab und ruft diese 
	Informationen bei späteren Nutzungen wieder ab.</p>

<h3>Löschen von Daten </h3>
<p>Soweit Ihre Daten nicht mehr für die vorgenannten Zwecke einschließlich der Abrechnung erforderlich sind, 
		werden diese gelöscht. Bitte beachten Sie, dass Daten, die Sie in Ihrem Account löschen, ggf. zunächst nur 
		gesperrt und dann erst mit zeitlicher Verzögerung endgültig gelöscht werden, um versehentlichen Löschungen 
		oder evtl. vorsätzlichen Schädigungen vorzubeugen. Aus technischen Gründen und rechtlichen Gründen werden Daten 
		ggf. in Datensicherungsdateien und Spiegelungen von Diensten dupliziert. Solche Kopien werden ggf. erst mit 
		einer zeitlichen Verzögerung gelöscht.</p>

<h3>Bearbeitung oder Löschung von persönlichen Daten Ihres Accounts </h3>
<p>Sie haben das Recht, die zu Ihrer Person gespeicherten persönlichen Daten und Einstellungen Ihres Accounts 
	jederzeit einzusehen und diese zu korrigieren, zu ergänzen oder zu löschen. </p>
<p>Soweit Sie wünschen, dass wir Ihr Nutzerkonto ganz löschen, klicken Sie bitte <a href="#">hier</a></p>

<h3>Datensicherheit </h3>
<p>Wir sind bemüht, Ihre Daten vor unbefugtem Zugriff, Verlust, vorsätzliche Manipulationen, Missbrauch, oder 
	Zerstörung zu schützen.
	Ihre persönlichen Daten sind nur solchen Mitarbeitern zugänglich, welche notwendigerweise Einsicht in Ihre Daten 
	haben müssen, um ihre Tätigkeit ordnungsgemäß ausüben. Außerdem ergreifen wir zum Schutz Ihrer persönlichen 
	Daten verfahrenstechnische und elektronische Schutzmaßnahmen. Unsere Sicherheitsmaßnahmen werden entsprechend der 
	technologischen Entwicklung fortlaufend verbessert.</p>

<h3>Auskunftsrecht und Kontaktdaten</h3>
<p>Ihnen steht ein Auskunftsrecht bezüglich der über Sie gespeicherten personenbezogenen Daten und ferner ein Recht 
	auf Berichtigung unrichtiger Daten, Sperrung und Löschung zu. 
	<p>Wenn Sie Auskunft über Ihre personenbezogenen Daten beziehungsweise deren Korrektur oder Löschung wünschen oder 
	weitergehende Fragen über die Verwendung Ihrer uns überlassenen personenbezogenen Daten haben, kontaktieren Sie bitte:
<pre>
	Mich
	Audress
	Einestr. 1
	53111 Bonn
	Telefon +49 228 110
	
</pre>
	</p>
	<p>Sollten Sie mit uns per E-Mail in Kontakt treten wollen, weisen wir darauf hin, dass der Inhalt unverschlüsselter E-Mails 
	von Dritten eingesehen werden kann. Wir empfehlen daher, vertrauliche Informationen verschlüsselt oder über den Postweg 
	zuzusenden.</p>

<h3>Einbeziehung, Gültigkeit und Aktualität der Datenschutzerklärung</h3> 
<p>Mit der Nutzung unserer Webseite willigen Sie in die vorab beschriebene Datenverwendung ein. Die 
	Datenschutzerklärung ist aktuell gültig und datiert vom 1.08.2008.</p>
<p>Durch die Weiterentwicklung unserer Dienst oder die Implementierung neuer Technologien kann es notwendig 
	werden, diese Datenschutzerklärung zu ändern. Wir behalten uns vor, die Datenschutzerklärung jederzeit mit 
	Wirkung für die Zukunft zu ändern. Wir empfehlen Ihnen, sich die aktuelle Datenschutzerklärung von Zeit zu 
	Zeit erneut durchzulesen.</p>
