<h4 class="agb">Allgemeine Geschäftsbedingungen</h4>

<h4 class="agb-sub">Gegenstand</h4>
<p class="agb-sub">
</p>

<h4 class="agb-sub">Geltungsbereich</h4>

<p class="agb-sub">Diese allgemeinen Nutzungsbedingungen gelten für alle Dienste und Inhalte, die auf der Internetseite 
unter der URL http://... sowie den dazugehörigen Unterseiten (sog. Second- und Third-Level-Domains) angeboten werden.</p>

<p class="agb-sub">
</p>

<p class="agb-sub"></p>