<%= render :partial => 'header' %>

<h2 class="agb">Allgemeine Geschäftsbedingungen (AGB)</h2>
<p>Stand: 01.10.2008</p>

Die X GmbH (nachfolgend: „Audress“) betreibt ein interaktives Online-Angebot. Es handelt sich um eine Datenbank-Anwendung (nachfolgend: „Dienst“), mittels der die jeweils registrierten Benutzer einen Adressbestand aufbauen können und miteinander jeweils die eigene Adresse austauschen können.

<h3>1. Teilnahmebedingungen</h3>
<p>Um den Dienst nutzen zu können, bedarf es einer Registrierung (join now). Diese Registrierung ist kostenlos.</p>

<p>1.1 Zur Registrierung zugelassen sind nur unbeschränkt geschäftsfähige natürliche Personen. Minderjährigen ist die Teilnahme am Dienst untersagt.
</p><p>
1.2 Jeder Nutzer darf sich nur ein Mal für den Dienst registrieren und versichert mit der Anmeldung, dass er noch kein Mitglied des Dienstes ist bzw. einen früher bestehenden Account gelöscht hat.
</p><p>
1.3 Die Registrierung für Audress startet mit einem Registrierungsformular. Der Nutzer hat die dort abgefragten Daten vollständig und korrekt anzugeben, wenn diese nicht als freiwillige Angaben gekennzeichnet sind. Die Angabe von Künstlernamen, Pseudonymen oder sonstigen Phantasiebezeichnungen ist nicht gestattet. Ebenso untersagt ist es, einen Account mit fremden oder sonst unzutreffenden Angaben anzumelden.
</p><p>
1.4 Audress wird den Zugang der mit der Anmeldung übermittelten Daten unverzüglich per E-Mail an die vom Benutzer bei der Registrierung hinterlegte E-Mail-Adresse bestätigen. Erfolgreich abgeschlossen ist die Registrierung erst dann, wenn der Nutzer diese mit Hilfe des ihm zugesandten Links bestätigt. Erst mit Abruf dieses Links kommt der Vertrag über die Nutzung des Dienstes zwischen dem Nutzer und Audress zustande.
</p><p>
1.4.1 Nach dem erfolgreichen Abschluss der Registrierung hat der Nutzer die Möglichkeit, den Dienst über "sign in" zu nutzen; hierzu sind der Benutzername und das vom Benutzer bestimmte Passwort einzugeben.
</p><p>
1.4.2 Wird die Registrierung nicht vollständig durchgeführt, löscht der Dienst den Account sowie die bis dahin gemachten Angaben.
</p><p>
1.5 Ein Anspruch auf Abschluss eines Nutzungsvertrages besteht nicht. audress kann eine Registrierung ohne Angabe von Gründen ablehnen; in diesem Fall wird der Dienst die durch den Benutzer mit dem Registrierungsformular übermittelten Daten unverzüglich löschen.
</p><p>
1.6 Eine Identifizierung von Personen im Internet ist nur eingeschränkt möglich. Daher lässt sich seitens Audress nicht mit Sicherheit ausschließen, dass bei einer Registrierung falsche Kontaktdaten hinterlegt werden. Audress leistet keine Gewähr für die tatsächliche Identität eines Benutzers; ein Benutzer hat sich selbst von der Identität eines anderen Benutzers zu überzeugen.
</p>

<h3>2. Vertragsgegenstand</h3>
<p>
2.1 Über den Dienst stehen dem Nutzer unterschiedliche Anwendungen zur Nutzung zur Verfügung. Bei diesen Anwendungen geht es insbesondere um:
<ul>
   <li>die Bereitstellung eines Adressbuchs,</li>
   <li>die Bereitstellung von Funktionen zur Kommunikation,</li>
</ul>
</p><p>
2.2 Der Anspruch auf Nutzung des Dienstes besteht nur im Rahmen des aktuellen Stands der Technik. In diesem Zusammenhang kann es bisweilen auch erforderlich sein, Leistungen innerhalb des Dienstes temporär zu beschränken – etwa im Hinblick auf die Durchführung technischer Maßnahmen im Interesse einer ordnungsgemäßen Erbringung der Leistungen. Die geplante Wartungsarbeiten am Dienst werden vorab auf der Website ankündigen.
</p>

<h3>3. Vertragsbeendigung</h3>
<p>
3.1 Möchte ein Nutzer den Dienst nicht mehr länger nutzen, kann er jederzeit den Nutzungsvertrag ohne Angabe von Gründen und ohne Einhaltung von Fristen kündigen. Für eine solche Vertragsbeendigung genügt es, dass sich der Nutzer in der Rubrik „Mein Profil“ über die Schaltfläche „Meinen Account löschen“ abmeldet. Alternativ kann der Nutzer die Kündigung per E-Mail unter Vertragsbeendigung@audress.net erklären oder auch schriftlich an Audress unter Angabe der zuletzt für die Nutzung des Dienstes verwendeten E-Mail-Adresse richten.
</p><p>
3.2 Auch Audress kann den Nutzungsvertrag jederzeit kündigen, mit einer Frist von vierzehn Tagen zum Monatsende. Das Recht zur Kündigung aus wichtigem Grund bzw. zur Sperrung eines Nutzers nach Maßgabe der Bestimmungen unter Ziffer 3.) dieser AGB bleibt hiervon unberührt.
</p><p>
3.3 Mit der erfolgreichen Vertragsbeendigung eines Nutzers wird der Account des Nutzers und alle personenbezogenen Daten des Nutzers dauerhaft gelöscht.
</p>

<h3>4. Sanktionen bei Verstößen durch Nutzer</h3>
<p>
4.1 Die Einhaltung dieser AGB ist für die Funktionsfähigkeit des Dienstes von erheblicher Bedeutung. Daher wird Audress Sanktionen gegen einen Nutzer verhängen, wenn und soweit sich seitens Audress konkrete Anhaltspunkte dafür ergeben, dass ein Nutzer gegen gesetzliche Vorschriften, Rechte Dritter oder die guten Sitten verstößt. Zudem ist Audress dazu berechtigt inkriminierte Inhalte aus dem Dienst ohne Vorankündigung zu entfernen.
</p><p>
4.2 Bei der Wahl der zu verhängenden Sanktion wird Audress die berechtigten Interessen des betroffenen Nutzers in die Entscheidung einbeziehen und unter anderem auch mit berücksichtigen, ob ein nur unverschuldetes Fehlverhalten vorliegt oder der Verstoß schuldhaft begangen wurde. Die folgenden Maßnahmen und Sanktionen kommen in Betracht:
<ul>
	<li>Teilweises und vollständiges Löschen von Inhalten eines Nutzers sofern diese inkriminierte Inhalte darstellen,</li>
	<li>temporäre Sperrung eines Nutzers</li>
	</ul>
</p><p>
4.3 Falls ein Nutzer gesperrt wurde, ist diesem eine weitere Nutzung des Dienstes untersagt. Zudem ist es einem gesperrten Nutzer verboten, sich erneut zur Registrierung anzumelden.
</p>

<h3>5. Haftungsfreistellung durch den Nutzer</h3>
<p>
Der Nutzer stellt Audress von sämtlichen Ansprüchen frei, die Dritte gegenüber Audress geltend machen aufgrund einer Verletzung ihrer Rechte durch von dem Nutzer innerhalb des Dienstes eingestellte Inhalte. Der Nutzer übernimmt hierbei die Kosten einer notwendigen Rechtsverteidigung von Audress einschließlich sämtlicher Gerichts- und Anwaltskosten in gesetzlicher Höhe; dies gilt dann nicht, wenn die Rechtsverletzung auf kein schuldhaftes Verhalten des Nutzers zurückzuführen ist. Der Nutzer ist verpflichtet, Audress für den Fall einer Inanspruchnahme durch Dritte unverzüglich, wahrheitsgemäß und vollständig sämtliche ihm zur Verfügung stehende Informationen mitzuteilen, die für eine Prüfung der Ansprüche und eine Verteidigung erforderlich sind. Darüber hinausgehende Schadensersatzansprüche von Audress gegenüber dem Nutzer bleiben unberührt.
</p>

<h3>6. Beschränkte Haftung</h3>
<p>
6.1 Nach den gesetzlichen Bestimmungen ist Audress als Diensteanbieter nicht dazu verpflichtet, die übermittelten oder gespeicherten Informationen zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen. Sollte Audress allerdings Kenntnis von der rechtswidrigen Handlung eines Nutzers oder einer Information innerhalb des Dienstes erlangen, werden die Informationen unverzüglich entfernt oder der Zugang zu diesen gesperrt.
</p><p>
6.2 Gegenüber Nutzern haftet Audress uneingeschränkt für Schäden, die von der Haftung nach zwingenden gesetzlichen Vorschriften, wie dem Produkthaftungsgesetz, umfasst werden sowie im Fall der Übernahme von Garantien.
</p><p>
6.3 Für solche Schäden, die nicht von Ziffer 5.2 erfasst werden und die schuldhaft durch das Verhalten der gesetzlichen Vertreter, leitenden Angestellten oder sonstigen Erfüllungsgehilfen von Audress verursacht wurden, haftet Audress der Höhe nach beschränkt auf die vertragstypisch vorhersehbaren Schäden.
</p>

<h3>7. Sonstiges, Künftige Änderungen und Schlussbestimmungen</h3>
<p>
7.1 Audress behält sich vor, Bestimmungen dieser AGB jederzeit und ohne Nennung von Gründen unter Beachtung der im Folgenden unter Ziffer 6.1.1 bis einschließlich 6.1.3 dargestellten Voraussetzungen zu ändern.
</p><p>
7.1.1 Von der vorstehenden Änderungsbefugnis ausdrücklich ausgenommen ist jede Änderung der Beschreibung des Vertragsgegenstands nach Ziffer 2 der AGB. Etwaige Änderungen und/oder Abweichungen von der versprochenen Leistung wird Audress daher dem Nutzer mitteilen und diesem die Fortsetzung des Nutzungsverhältnisses zu den sich dann ändernden Bedingungen anbieten, wenn infolge der Änderungen und/oder Abweichungen Interessen des Nutzers beeinträchtigt werden. Das dem Nutzer nach Ziffer 3.1 jederzeit zustehende Kündigungsrecht bleibt unberührt.
</p><p>
7.1.2 Sonstige geänderte, nicht von Ziffer 7.1.1 erfasste Bestimmungen werden dem Nutzer per E-Mail spätestens zwei Wochen vor ihrem Inkrafttreten zugesendet. Widerspricht der Nutzer der Geltung der neuen AGB nicht innerhalb von zwei Wochen nach Empfang der E-Mail, gelten die geänderten AGB als angenommen.
</p><p>
7.1.3 Widerspricht der Nutzer der Geltung der neuen AGB innerhalb der unter Ziffer 7.1.2 angeführten Frist, bleibt Audress befugt, das Vertragsverhältnis mit dem Nutzer ordentlich mit einer Frist von vierzehn Tagen zu kündigen.
</p><p>
7.4 Auf die vorliegenden AGB und die vertragliche Beziehung zwischen Audress und dem Nutzer findet ausschließlich das Recht der Bundesrepublik Deutschland Anwendung. Diese Rechtswahl gilt gegenüber Verbrauchern jedoch nur insoweit, als nicht der gewährte Schutz durch zwingende Bestimmungen des Rechts des Staates, in dem der Verbraucher seinen gewöhnlichen Aufenthalt hat, entzogen wird.
</p>