<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>maintenance</title>
	<style type="text/css" media="screen">
	img {
		border: 0;
	}
	td {
		padding: 1px 5px 1px 5px;
	}
	tbody tr td {
		background-color: #ded;
	}
	tbody tr.odd  td {
		background-color: #fff;
	}
	tbody tr.total td {
		background-color: #fef;
	}

	div.footer {
		margin: 5px; 
		border-top: 2px dotted #aaa;
	}

	div.local-footer {
		margin: 5px;
	}

	html, body, form, fieldset {
		margin: 0;
		padding: 0;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 13px;
	}

	h1, h2, h3, h4, h5, h6, p, pre,
	blockquote, ul, ol, dl, address {
		margin: 1em 0;
		padding: 0;
	}

	body { 
		line-height: 1.4em;
	}

	a img {
		border: none;
	}

	a { 
		outline: none; 
	}

	a:link {
		color: rgb(0, 153, 255);
		text-decoration: none;
	}

	a:visited {
		color: #001087;
		text-decoration: none;
	}

	a:hover {
		text-decoration: underline;
	}

	#header {
		border-bottom: 2px dotted #aaa;
		width: 100%;
	}

	#header-container {
		width: 840px;
		padding-top: 5px;
		margin: auto;
	}

	#logo {
		float: left;
		margin-bottom: 15px;
	}

	#page {
		clear: both;
		width: 840px;
		margin: auto;
		margin-top: 0px;
	}

	#container {
	}

	#footer {
		margin-top: 5px;
		border-top: 2px dotted #aaa;
	}

	#footer .column {
		clear: both;
		width: 840px;
		margin: auto;
		margin-top: 5px;
	}
	</style> 
</head>

<body id="audress" style="background: #fff url('http://graphics.b4mad-service.net/2562471952_9c0b82facc_b-50.jpg') no-repeat scroll 65px;">
	<div id="header">
		<div id="header-container">
			<div id="logo">
				<a href="/"><img src="http://graphics.b4mad-service.net/audress-trans.png" title="Audress" alt="Audress" /></a>
			</div>
			<div class="user-menu">
			</div>
		</div><!-- header-container -->
	</div><!-- header -->

	<div id="page">
		<div id="nav" class="level-0">
		</div><!-- nav -->
		<div style="clear: both"></div>

		<div id="container" width="100%">
			<div id="flash_notice" style="background: #fff;">Wartungsarbeiten</div>
			<div id="message" style="background: #fff;">
				Wir werden in wenigen Minuten wieder zur Verfügung stehen.
			</div><!-- message -->
		</div><!-- container -->
	</div><!-- page-->

	<div id="footer">
		<div class="column" style="background: #eee;">
			Background photo by <a href="http://flickr.com/people/p-s-e/">p-s-e</a>, licensed under <a href="http://creativecommons.org/licenses/by-nc-nd/2.0/deed.de">creative commons license: by-nc-nd</a>. <br/>
			Copyright &copy; 2008 by Audress. <a href="#">help</a> | <a href="#">contact</a> | <a href="#">legal</a> | <a href="#">blog</a>
		</div>
	</div><!-- footer -->
	
</body>
</html>